{% extends 'base.html.twig' %}

{% block title %}SNOWTRICKS • Réinitialisation Password{% endblock %}

{% block body %}


<!-- V-card Background-color -->
<v-card flat outlined style="z-index:-1;position:fixed;top:0;left:0;height:100%;width:100%;background-color:#85C1E9;"></v-card>

{% if member.username is empty %}

<v-container fluid class="mt-n3">
    <v-row>

        <v-col cols="12">

            <v-card class="pa-5" color="rgba(255,255,255,0)" outlined>

                <v-row>

                    <v-col cols="12" md="4"></v-col>

                    <v-col cols="12" md="4">
                        <v-card class="pa-5" outlined style="border-color:rgb(255,255,255,0);" color="rgba(255,255,255,0.2)">

                            <p>Demande de réinitialisation de mot de passe</p>

                            {{ form_start(resetSecurity) }}

                            {{ form_row(resetSecurity.username, {'label': ' ', 'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}

                            <button type="submit">Demande de réinitialisation</button>

                            {{ form_end(resetSecurity) }}

                        </v-card>
                    </v-col>

                    <v-col cols="12" md="4"></v-col>

                </v-row>

            </v-card>
        </v-col>

    </v-row>
</v-container>

{% endif %}


{% if member.username is not empty %}

    <v-container fluid class="mt-n3">

        <v-row>

            <v-col cols="12">

                <v-card class="text-center pa-5" outlined color="rgba(255,255,255,0.2)"> 

                    <h3>DEMANDE DE RÉINITIALISATION DE VOTRE MOT DE PASSE</h3>

                    <br />
                    
                    <h4>Cher {{ member.username|capitalize }}, votre demande de réinitialisation de mot de passe a bien été enregistrée. Un email vous a été adressé à partir duquel vous pourrez procéder au changement.</h4>

                    <br />

                    <h4>NOUVEAU TOKEN ENREGISTRÉ EN BASE DE DONNÉES</h4>
                    <p>{{ member.token }}</p>

                </v-card>
                
            </v-col>

        </v-row>

    </v-container>

    <v-container fluid class="mt-n3">

        <v-row>

            <v-col cols="12">

                <v-card class="text-center pa-5" outlined color="rgba(255,255,255,0.4)"> 

                    <h3>MAIL ENVOYÉ POUR PROCÉDER AU CHANGEMENT DE MOT DE PASSE</h3>
                    
                    <br />

                    <h4>" Cher {{ member.username|capitalize }}, cliquez sur ce lien pour accéder à la page de réinitialisation de votre mot passe sur le site Snow Tricks "</h4>

                    <br />

                    <a href="{{ path('confirm_reset', { username : member.username , token : member.token }) }}" class="button">ACCÉDER À LA PAGE DE RÉINITIALISATION DE VOTRE MOT DE PASSE<a>

                    {#

                    path() - Generates a [relative] URL path given a route name and parameters.

                    url() - Generates an absolute URL given a route name and parameters.

                    <a href="{{ url('confirm_reset', { username : member.username , token : member.token }) }}" class="button">ACCÉDER À LA PAGE DE RÉINITIALISATION DE VOTRE MOT DE PASSE<a>

                    #}

                </v-card>
                
            </v-col>

        </v-row>

    </v-container>

{% endif %}



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


{% endblock %}
