{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • Back Office{% endblock %}
{% block body %}

<v-card class="special-background"></v-card>

<v-container class="box-new-position">

    <v-layout row wrap>

        <v-col cols="12">
          
            <v-card color="rgba(255,255,255,0)" flat> 

                <v-container fluid>

                    <v-row id="trick-box">
   
                        {% for article in articles %}
                    
                            <v-col
                            cols="12"
                            md="12"
                            class="load-more"
                            >
                                <v-card class="pa-8">
                                
                                    <a href="{{ path('chapter_show', {'id': article.id, 'labelled': article.labelled }) }}">
                                        
                                    <p class="backoff-title">{{ article.title|upper|raw }}</p>
                                        
                                    </a>
                                
                                    <v-row>
                        
                                        <v-col
                                        cols="12"
                                        md="3"
                                        lg="3"
                                        >

                                        {% if article.image is not null %}

                                            <v-img max-width="200" src="{{ article.image|raw }}" alt="{{ article.title|raw }}" title="{{ article.title|raw }}"></v-img>

                                        {% else %}

                                            <v-img max-width="200" src="/backgrounds/default_picture.jpg" alt="Image par défaut" title="Image par défaut"></v-img>

                                        {% endif %}

                                        </v-col>

                                        <v-col
                                        cols="12"
                                        md="6"
                                        lg="6"
                                        >
                                            {% if article.freshDate is null %}

                                                <p class="backoff-caption mb-2">PUBLIÉ LE {{ article.createdAt|date('d/m/Y')|raw }} &bull; CATÉGORIE {{ article.classification.title|upper|raw }}</p>

                                            {% else %}

                                                <p class="backoff-caption mb-2">MIS À JOUR LE {{ article.freshDate|date('d/m/Y')|raw }} &bull; CATÉGORIE {{ article.classification.title|upper|raw }}</p>

                                            {% endif %}

                                            <div class="regular-spacer"></div>
 
                                            <p>{{ article.content|striptags|slice(0,200)|raw}}...</p>  

                                        </v-col>
                                        
                                        <v-col
                                        v-if="$vuetify.breakpoint.smAndDown"
                                        sm="4"
                                        height="0">
                                        </v-col>
                                                
                                        <v-col
                                        cols="12"
                                        md="3"
                                        lg="3"
                                        sm="4"
                                        >
                                            <v-card class="mt-2" flat>
                                                
                                                <v-btn class="mb-2" color="blue lighten-1" width="100%" href="{{ path('chapter_show', {'id': article.id, 'labelled': article.labelled }) }}"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lire</v-btn>

                                                <v-btn class="mb-2" color="blue lighten-2" width="100%" href="{{ path('blog_edit', {'id': article.id, 'labelled': article.labelled }) }}"><i class="fas fa-pen"></i>&nbsp;&nbsp;Modifier</v-btn>
                                                
                                                <v-btn class="mb-2" color="blue lighten-3" width="100%" href="{{ path('delete_chapter', {'id': article.id }) }}" onclick="return(confirm('Validez-vous ce choix ?'));"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Supprimer</v-btn>
                                            
                                            </v-card>

                                        </v-col>
                                
                                    </v-row>
                                
                                </v-card>

                            </v-col>
            
                        {% endfor %} 
       
                    </v-row>

                </v-container>
                
            </v-card>

        </v-col> 
 
    </v-layout>

</v-container>

<v-container class="text-center">

    <v-btn
    id="more-btn"
    color="primary"
    dark
    >
    <i class="fas fa-plus"></i>
    </v-btn>

</v-container>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/events/slice.js') }}"></script>
{% endblock %}
