{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • Back Office{% endblock %}
{% block body %}

<!-- V-card Background-color -->
<v-card flat outlined style="z-index:-1;position:fixed;top:0;left:0;height:100%;width:100%;background-color:#85C1E9;"></v-card>

<v-container>

    <v-layout row wrap>

        <v-col cols="12">
          
            <v-card color="rgba(255,255,255,0)" outlined> 

                <v-container fluid style="background-color:#85C1E9;">

                    <v-row id="trick-box">
   
                        {% for article in articles %}
                    
                            <v-col
                            cols="12"
                            md="12"
                            class="load-more"
                            >
                                <v-card class="pa-8">
                                
                                    <a href="{{ path('chapter_show', {'id': article.id, 'labelled': article.labelled }) }}">
                                        
                                    <p class="backoff-title">{{ article.title|upper }}</p>
                                        
                                    </a>
                                
                                    <v-row>
                        
                                        <v-col
                                        cols="12"
                                        md="3"
                                        lg="3"
                                        >

                                        {% if article.image is not null %}

                                            <img style="max-width:200px;" src="{{ article.image }}" class="responsive-image" alt="{{ article.title }}" title="{{ article.title }}" />

                                        {% else %}

                                            <img src="/backgrounds/default_picture.jpg" class="responsive-image" alt="Image par défaut" title="Image par défaut" />

                                        {% endif %}

                                        </v-col>

                                        <v-col
                                        cols="12"
                                        md="6"
                                        lg="6"
                                        >
                                            {% if article.freshDate is null %}

                                                <p class="font-weight-light grey--text body-2 mb-2">PUBLIÉ LE {{ article.createdAt|date('d/m/Y') }} &bull; CATÉGORIE {{ article.classification.title|upper }}</p>

                                            {% else %}

                                                <p class="font-weight-light grey--text body-2 mb-2">MIS À JOUR LE {{ article.freshDate|date('d/m/Y') }} &bull; CATÉGORIE {{ article.classification.title|upper }}</p>

                                            {% endif %}

                                            <div class="regular-spacer"></div>

                                            <!-- Important de placer le "raw" après "striptags" ou "slice" -->    
                                            <p>{{ article.content|striptags|slice(0,200)|raw}}...</p>  

                                        </v-col>
                                        
                                        <!-- V-col vide pour alignement au passage en taille smartphone -->
                                        <v-col
                                        v-if="$vuetify.breakpoint.smAndDown"
                                        sm="4"
                                        style="border:0px solid black;height:0px;">
                                        </v-col>
                                                
                                        <v-col
                                        cols="12"
                                        md="3"
                                        lg="3"
                                        sm="4"
                                        >
                                            <v-card class="mt-2" outlined style="border:none;">
                                                
                                                <v-btn class="mb-2" color="blue lighten-1" width="100%" href="{{ path('chapter_show', {'id': article.id, 'labelled': article.labelled }) }}"><i class="fas fa-eye"></i>&nbsp;&nbsp;Lire</v-btn>

                                                <v-btn class="mb-2" color="blue lighten-2" width="100%" href="{{ path('blog_edit', {'id': article.id, 'labelled': article.labelled }) }}"><i class="fas fa-pen"></i>&nbsp;&nbsp;Modifier</v-btn>
                                                
                                                <v-btn class="mb-2" color="blue lighten-3" width="100%" href="{{ path('delete_chapter', {'id': article.id }) }}" onclick="return(confirm('Validez-vous ce choix ?'));"><i class="far fa-trash-alt"></i>&nbsp;&nbsp;Supprimer</v-btn>
                                            
                                            </v-card>

                                        </v-col>
                                
                                    </v-row>
                                
                                </v-card>

                            </v-col>
            
                        {% endfor %} 
       
                    </v-row>

                </v-container>
                
            </v-card>

        </v-col> 
 
    </v-layout>

</v-container>

<!-- BOUTON POUR AFFICHER PLUS DE POSTS -->
<v-container class="text-center">

    <v-btn
    id="more-btn"
    color="primary"
    dark
    >
    <i class="fas fa-plus"></i>
    </v-btn>

</v-container>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/events/slice.js') }}"></script>
{% endblock %}
