{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • Commentaires{% endblock %}
{% block body %}

<v-card class="special-background"></v-card>

<v-layout justify-center>

    <v-flex xs12 sm12 md9 lg6>

            <v-container fluid grid-list-lg>

                <v-layout row wrap>

                    <v-flex id="trick-box">
                        
                        {% for comment in comments %}

                        <v-card class="ma-4 load-more">

                            <v-container fill-height fluid pa-2>

                                <v-flex>

                                    <img src="{{ asset('uploads/avatars/' ~ '/' ~ comment.user.avatar) }}" alt="Author" title="Author">

                                    <p class="grey--text">TRICK {{ comment.figure.title|upper|raw }} &nbsp;&bull;&nbsp; PAR {{ comment.user.username|upper|raw }} LE {{ comment.createdAt|date('d/m/Y')|raw }}</p>

                                    <hr class="simple-line mt-n2">

                                    <p class="mt-2">" {{ comment.content|striptags|raw }} "</p>

                                   <v-btn small outlined class="float-right" color="blue lighten-1" href="{{ path('delete_comment', {'id': comment.id}) }}" onclick="return(confirm('Validez-vous ce choix ?'));"><i class="far fa-trash-alt"></i></v-btn>

                                </v-flex>

                            </v-container>

                        </v-card>

                        {% endfor %}

                    </v-flex>

                </v-layout>

            </v-container>

    </v-flex>

</v-layout>

<!-- BOUTON POUR AFFICHER PLUS DE COMMENTAIRES -->
<v-container class="text-center">

    <v-btn
    id="more-btn"
    color="primary"
    dark
    >
    <i class="fas fa-plus"></i>
    </v-btn>

</v-container>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/events/slice.js') }}"></script>
{% endblock %}
