{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • Gestion membres{% endblock %}
{% block body %}

<v-card class="special-background"></v-card>

<v-layout justify-center class="box-new-position">

    <v-flex xs12 sm12 md9 lg6>

            <v-container fluid grid-list-lg>

                <v-layout row wrap>

                    <v-flex id="trick-box">

                        {% for member in members %}

                        {% if app.user.id != member.id %}

                        <v-card class="ma-4 load-more">

                            <v-container fill-height fluid pa-2 ml-4>

                                <v-flex>

                                    <img class="profile-format" src="{{ asset('uploads/avatars/' ~ '/' ~ member.avatar) }}" alt="Author" title="Author">

                                    <p class="grey--text">INSCRIT LE {{ member.createdAt|date('d/m/Y')|raw }}</p>

                                    <p class="mt-2">PSEUDO : {{ member.username|striptags|raw }}</p>

                                    <p class="mt-2">EMAIL : {{ member.email|striptags|raw }}</p>

                                    <v-btn small outlined class="float-right mr-6" color="indigo lighten-1" href="{{ path('delete_member', {'id': member.id}) }}" onclick="return(confirm('Validez-vous ce choix ?'));"><i class="far fa-trash-alt"></i></v-btn>

                                </v-flex>

                            </v-container>

                        </v-card>

                        {% endif %}
                        
                        {% endfor %}

                    </v-flex>

                </v-layout>

            </v-container>

    </v-flex>

</v-layout>

<v-container class="text-center">

    <v-btn
    id="more-btn"
    color="primary"
    dark
    >
    <i class="fas fa-plus"></i>
    </v-btn>

</v-container>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/events/slice.js') }}"></script>
{% endblock %}
