{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • {{ figure.title }}{% endblock %}
{% block body %}

<!-- FOND D'ÉCRAN -->
<v-card flat outlined style="z-index:-1;position:fixed;top:0;left:0;height:100%;width:100%;border:none;">

    <v-img src="/backgrounds/background1.jpg" style="height:100%;width:100%;"></v-img>

</v-card>

<!-- TITRE ET IMAGE EN UNE -->
<v-container mt-3 mb-n2>

    <v-row
    align="center"
    justify="center"
    >

        <v-col class="white--text text-center" cols="12" >

            <p class="post-title">{{ figure.title|upper }}</p>

                <br />

                {% if figure.image is not null %}

                    <v-img
                    :aspect-ratio="16/9"
                    src="{{ figure.image }}"
                    alt="{{ figure.title }}"
                    title="{{ figure.title }}"
                    >
                    </v-img>

                {% else %}

                    <v-img
                    :aspect-ratio="16/9"
                    src="/backgrounds/default_picture.jpg"
                    alt="Image par défaut"
                    title="Image par défaut"
                    >
                    </v-img>

                {% endif %}

        </v-col>

    </v-row>

</v-container>

<!-- BOUTONS POUR AFFICHER LES MÉDIAS EN VERSION SMARTHPONE -->
<v-container class="control-medias-container text-center">

    <v-btn
    class="control-medias"
    color="primary"
    dark
    style="font-weight:bold;"
    >
    IMAGES ET VIDÉOS
    </v-btn>

    <v-btn
    class="control-medias-2"
    color="primary"
    dark
    style="font-weight:bold;"
    >
    FERMER L'ONGLET
    </v-btn>

</v-container>

<!-- GRILLE D'IMAGES ET DE VIDÉOS ASSOCIÉES -->
<v-container class="medias-grid">

    <v-layout row wrap>

        <v-col cols="12">
    
            <v-row>

                {% for screen in figure.screens %}

                {% if not (screen.thumbnail starts with 'http') %}

                {% if screen.thumbnail is not null %}

                <!-- Modal Screen VIDEOS -->
                <v-col
                cols="12"
                md="2"
                >
                    
                    <card class="post-details">

                        <div class="post-details-content">

                            <v-img src="https://img.youtube.com/vi/{{ screen.thumbnail }}/hqdefault.jpg" alt="Illustration" title="Illustration"></v-img>

                        </div>

                        <!-- TWIG : " loop.index " renvoie l'index de l'itération actuelle dans la boucle (https://twig.symfony.com/doc/2.x/tags/for.html#iterating-over-keys-and-values) -->
                        <div class="text-center">

                            <v-dialog
                            v-model="modal_screen_{{ loop.index }}"
                            transition="dialog-bottom-transition"
                            width="600"
                            >   

                                <template v-slot:activator="{ on, attrs }">

                                    <v-btn
                                    style="margin-top:-40px;"
                                    fab
                                    depressed
                                    color="primary"
                                    dark
                                    small
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    <i class="fas fa-play"></i>
                                    </v-btn>

                                </template>

                                <v-card width="600" height="400">

                                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/{{ screen.thumbnail }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                </v-card>

                            </v-dialog>

                        </div>
                      
                    </card>
                    
                </v-col>

                {% endif %}

                {% else %}

                {% if screen.thumbnail is not null %}

                <!-- Modal Screen IMAGES -->
                <v-col
                cols="12"
                md="2"
                >
                    
                    <card class="post-details">

                        <div class="post-details-content">

                            <v-img src="{{ screen.thumbnail }}" alt="Illustration" title="Illustration"></v-img>

                        </div>

                        <!-- TWIG : loop.index renvoie lindex de l'itération actuelle dans la boucle (https://twig.symfony.com/doc/2.x/tags/for.html#iterating-over-keys-and-values) -->
                        <div class="text-center">

                            <v-dialog
                            v-model="modal_screen_{{ loop.index }}"
                            transition="dialog-bottom-transition"
                            width="600"
                            >   

                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                    style="margin-top:-40px;"
                                    fab
                                    depressed
                                    color="primary"
                                    dark
                                    small
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    <i class="fas fa-plus"></i>
                                    </v-btn>

                                </template>

                                <v-card width="600" height="auto">

                                    <v-img src="{{ screen.thumbnail }}" alt="Illustration" title="Illustration"></v-img>

                                </v-card>

                            </v-dialog>

                        </div>
                      
                    </card>
                    
                </v-col>

                {% endif %}

                {% endif %}

                {% endfor %}

            </v-row>

        </v-col>

    </v-layout>
    
</v-container>

<!-- CONTENU TEXTE ET DATES -->
<v-container mt-n3>

      <v-layout row wrap>

        <v-col cols="12">

            <v-card flat class="pa-5" color="rgba(255,255,255,1)" style="border-radius:0px;">

                <v-card-text
                class="pt-6"
                style="position: relative;"
                >

                    <p class="post-font-size mb-12" style="color:#444444;">{{ figure.content | raw }}</p>

                    <p class="font-weight-light grey--text body-2 mb-2">Auteur : {{ figure.user.username|capitalize }}</p>

                    <p class="font-weight-light grey--text body-2 mb-2">Publié le {{ figure.createdAt | date('d/m/Y') }} à {{ figure.createdAt | date ('H:i') }} &bull; Catégorie {{ figure.classification.title }}</p>

                    {% if figure.freshDate is not null %}

                        <p class="font-weight-light grey--text body-2 mb-2">Mis à jour le {{ figure.freshDate | date('d/m/Y') }} à {{ figure.freshDate | date ('H:i') }}</p>

                    {% endif %}

                    {# {% if app.user %} #}
                    <!-- Chaque membre ne peut modifier que ses articles, mis à part l'admin qui peut tout modifier -->
                    <!--  rajouter "ou si l'admin = 1" -->
                    {% if (app.user.id is defined and app.user.id == figure.user.id) or (app.user.id is defined and app.user.id == 1) %}

                        <a href="{{ path('blog_edit', {'id': figure.id, 'labelled': figure.labelled}) }}">
                            <p class="special-button" style="float:right;">MODIFIER&nbsp;&nbsp;<i class="fas fa-pen"></i></p>
                        </a>

                        <div class="regular-spacer"></div>
                        <div class="regular-spacer"></div>
                        <div class="regular-spacer"></div>
                        
                    {% endif %}

                </v-card-text>

            </v-card>

        </v-col>

    </v-layout>

</v-container>

<!-- COMMENTAIRES -->
{% if app.user %}

<v-container fluid class="mt-n3">

    <v-row>    

        <v-col cols="12">

            <v-card flat class="pa-5" color="rgba(255,255,255,0)" outlined>

                <v-row>

                    <v-col cols="12" md="4"></v-col>

                    <v-col
                    cols="12"
                    md="4"
                    >

                        <v-card class="pa-5" outlined style="border-color:rgb(255,255,255,0);" color="rgba(255,255,255,0.2)">

                        {{ form_start(formMention) }}

                        {{ form_row(formMention.content, {'label': ' ', 'attr': {'placeholder': 'Commentaire'}}) }}

                        <button type="submit" class="edit-post-button" style="margin-top:10px;margin-left:10px;float:right;">
                        Publier
                        </button>

                        {{ form_end(formMention) }}  

                        </v-card>

                    </v-col>       

                    <v-col cols="12" md="4"></v-col>

                </v-row>   

            </v-card>

        </v-col>

    </v-row>

</v-container>

{% else %}

<v-container>

    <v-layout row wrap>

        <v-col cols="12">

            <v-card color="rgba(255,255,255,0)" outlined> 

                <p class="text-center white--text font-weight-bold">Connectez-vous pour commenter cet article</p> 

            </v-card>

        </v-col>  

    </v-layout>
    
</v-container>

{% endif %}

{% if figure.mentions is empty %}    
{% else %}

<v-card color="rgb(240, 240, 240, 0)" class="pa-5 mt-3" outlined id="commentaries"> 

    {% if figure.mentions | length == '1' %}

         <p class="white--text text-center font-weight-bold">{{ figure.mentions | length }}&nbsp;&nbsp;commentaire</p>   

    {% endif %} 
                    
    {% if figure.mentions | length > '1' %}

        <p class="white--text text-center font-weight-bold">{{ figure.mentions | length }}&nbsp;&nbsp;commentaires</p>             

    {% endif %} 

    <v-container fluid>

        <v-row class="justify-center">
            <!-- SLICE DE PAGINATION DES COMMENTAIRES -->
            {% for mention in figure.mentions|slice(start, limit) %}

                <v-col
                class="comments-loop"
                cols="12"
                md="3"
                >

                    <v-card class="pa-2">   

                        <v-card-text>

                            <img src="{{ asset('uploads/avatars/' ~ '/' ~ mention.user.avatar) }}">

                            <p class="body-1" style="color:dimgrey;">Par {{ mention.user.username|upper }} le {{ mention.createdAt | date('d/m/Y à H:i') }}</p>
                            
                            <p class="body-1" style="color:dimgrey;">{{ mention.content | striptags | raw }}</p>
                           


                        </v-card-text>

                    </v-card> 

                </v-col>

            {% endfor %}

        </v-row>

    </v-container>


    <!-- BOUTONS DE PAGINATION DES COMMENTAIRES -->


    {# <a href="{{ path('chapter_show', {'id': figure.id, 'labelled': figure.labelled } ) }}#commentaries">0</a> #}
    
{#

    <a href="{{ path('chapter_show', {'id': figure.id} ) }}?show_mentions=5#commentaries">5</a>

    <a href="{{ path('chapter_show', {'id': figure.id} ) }}?show_mentions=10#commentaries">10</a>

#}

    <!-- BOUTONS DE PAGINATION DES COMMENTAIRES -->
    
    <v-container id="mention_links" style="text-align:center;"> 
    </v-container>

{#
    <section id="comments">

        {% for mention in figure.mentions | slice(0,5) %}

            <div class="billy" style="border:10px solid cornflowerblue; width:100%; background-color:white;">

                <img src="{{ asset('uploads/avatars/' ~ '/' ~ mention.user.avatar) }}">

                <p class="body-1" style="color:dimgrey;">Par {{ mention.user.username|upper }} le {{ mention.createdAt | date('d/m/Y à H:i') }}</p>
                
                <p class="body-1" style="color:dimgrey;">{{ mention.content | striptags | raw }}</p>
                    
            </div>
                        
        {% endfor %}

    </section>

    <div class="row text-center">
        <button id="loadMoreComments" class="btn btn-primary col-md-6 col-8 mx-auto">Voir plus de commentaires</button>
    </div>
#}

</v-card>

{% endif %}


<!-- MODAL 2 & 3 : MODAL IN MODAL EXAMPLE -->
<!-- Modal 2 -->
<!--<div class="text-center">
    <v-dialog
      v-model="modal_2"
      transition="dialog-top-transition"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="red lighten-2"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Click Me
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2">
          Privacy Policy
        </v-card-title>

        <v-card-text>

            <v-dialog
                v-model="modal_3"
                transition="dialog-top-transition"
                width="500"
                >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                    color="red lighten-2"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    >
                    Click Me
                    </v-btn>
                </template>

                <v-card>
                    <v-card-title class="headline grey lighten-2">
                    Privacy Policy
                    </v-card-title>

                    <v-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        text
                        @click="modal_3 = false"
                    >
                        I accept
                    </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="modal_2 = false"
          >
            I accept
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</div>-->

{% endblock %}

{% block javascripts %}

<script>

// ATTENTION !! PENSER À PAGINER 10 PAR PAGE !!

var count = {{ figure.mentions | length }};

var nbr_links = Math.ceil(count / 5);

// alert(nbr_links);

if(count > 5) {

    $("#mention_links").append('<a href="{{ path('chapter_show', {'id': figure.id, 'labelled': figure.labelled } ) }}#commentaries"><i class="fas fa-chevron-left special-chevron"></i></a>');

}

for(var i = 1; i < nbr_links; i++){

    $("#mention_links").append('<a class="font-weight-bold" style="padding:8px;color:white;font-size:20px;" href="{{ path('chapter_show', {'id': figure.id, 'labelled': figure.labelled } ) }}?show_mentions=' + i * 5 + '#commentaries">' + i + '</a>');

}



</script>


{#


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
/*
$(document).ready(function () {


});
*/

    click = 0;

    function loadMoreComments(event) {

        // COUNT DES BILLY (classe ajoutée aux DIV des commentaires)

            // var $billies = $("#comments .billy").hide();

            // var size_billies = $billies.length;

            // $billies.slice(0, 5).show();

            // var x = 5;

            // var starting = 0;

        // FIN DE COUNT DES BILLY

        event.preventDefault();

        click++;

        var start = 5 * click;

        const url = "{{ path('mention_paging', {'id': figure.id} ) }}/" + start;

        // Remplacer par la méthode FETCH ????
        axios.get(url).then(function(response) {

            $("#comments").append(response.data);

            // ICI ON POURRAIT SLICER LES RÉSULTATS

                        // alert(start);

                        // $billies.slice(5, 10).show();

                        // $billies.slice(start, 10).show();

                        // alert(size_billies);

            // FIN DE SLICE ÉVENTUEL

        }).catch(function (error) {

            // VOIR COMMENT ON GÉNÈRE LES ERREURS SELON LES NORMES EN VIGUEUR !
            alert("Erreur")
            /*
            if (response.status === 403) {

                window.alert("Vous n'êtes pas autorisé à effectuer cette action !");

            }
            else if (response.status === 404) {

                window.alert("La page appelléé n'existe pas");
            }
            else {

                window.alert("Une erreur est survenue !");
            }
            */

        });

    }

    document.getElementById("loadMoreComments").addEventListener("click", loadMoreComments);



    

</script>
<!-- ***** Script de pagination jQuery ***** -->
<!--<script src="/js/paginate.js"></script>-->



#}

{% endblock %}