{% extends 'base.html.twig' %}
{% block title %}SNOW TRICKS | Accueil{% endblock %}
{% block body %}

<!-- Carousel taille Smartphone -->
<v-carousel v-if="$vuetify.breakpoint.smAndDown" pa-0 ma-0 class="mt-n7" cycle interval="10000" height="auto" hide-delimiter-background :show-arrows="false">

    {% for figureSlide in figureSlides %}

    <v-carousel-item style="border:0px solid red;border-radius:0px;">

        <a href="{{ path('chapter_show', {'id': figureSlide.id}) }}">

            <p class="slide-title">{{ figureSlide.title }}</p>

        </a>

        <img src="{{ figureSlide.image }}" class="responsive-image" alt="Illustration" title="Illustration" />

        {% if app.user %}

        <a href="{{ path('blog_edit', {'id': figureSlide.id}) }}">
        <p style="position:absolute; top:40px; right:30px; color:white;">
            <i class="fas fa-pen"></i>
        </p>
        </a>

        <a href="{{ path('delete_chapter', {'id': figureSlide.id}) }}" onclick="return(confirm('Validez-vous ce choix ?'));">
        <p style="position:absolute; top:80px; right:30px; color:white;">
            <i class="far fa-trash-alt"></i>
        </p>
        </a>

        {% endif %}

    </v-carousel-item>

    {% endfor %}

</v-carousel>

<!-- Carousel tailles Medium and Up -->
<v-carousel v-if="$vuetify.breakpoint.mdAndUp" cycle interval="8000" height="710" hide-delimiters hide-delimiter-background :show-arrows="true" show-arrows-on-hover class="mt-n2">

    {% for figureSlide in figureSlides %}

    <v-carousel-item>

        <a href="{{ path('chapter_show', {'id': figureSlide.id}) }}">

            <p class="slide-title">{{ figureSlide.title }}</p>

        </a>

        <img src="{{ figureSlide.image }}" class="responsive-image" alt="{{ figureSlide.title }}" title="{{ figureSlide.title }}" />

        {% if app.user %}

        <a href="{{ path('blog_edit', {'id': figureSlide.id}) }}">
        <p style="position:absolute; top:40px; right:30px; color:white;">
            <i class="fas fa-pen"></i>
        </p>
        </a>

        <a href="{{ path('delete_chapter', {'id': figureSlide.id}) }}" onclick="return(confirm('Validez-vous ce choix ?'));">
        <p style="position:absolute; top:80px; right:30px; color:white;">
            <i class="far fa-trash-alt"></i>
        </p>
        </a>

        {% endif %}

    </v-carousel-item>

    {% endfor %}

</v-carousel>

<v-container grid-list-xl text-xs-center mt-8>
    <v-layout row wrap>

        <v-card flat class="pa-5" color="rgb(255, 255, 255, 0)" outlined>

            <v-container fluid>
                <v-row>

                   

                    {% for figure in figures %}

                    <v-col cols="12" md="4">

                        <!-- Vuetify hover card : https://codepen.io/jmcting/pen/ExYBPVp?editors=1010 -->

                        <!--<v-hover v-slot:default="{ hover }">-->

                        <!--<v-card
                            flat
                            :elevation="hover ? 1 : 0"
                            :class="{ 'on-hover': hover }"
                            class="mx-auto"
                            max-width="600"
                          >-->
                        <v-card flat class="mx-auto" max-width="600">

                            <a href="{{ path('chapter_show', {'id': figure.id}) }}">

                                <v-img v-ripple="{ class: `white--text` }" class="image-wrapper" :aspect-ratio="16/9" src="{{ figure.image }}" alt="{{ figure.title }}" title="{{ figure.title }}" style="margin: 0 auto;">
                                    <!--<v-expand-transition>
                                    <div
                                      v-if="hover"
                                      class="d-flex transition-fast-in-fast-out grey lighten-2 v-card--reveal display-3 white--text"
                                      style="height:100%; opacity:0.5;"
                                    >
                                      <p class="body-1 font-weight-light black--text mb-2 pa-5">{{ figure.content | striptags | raw | slice(0,100) }} ...</p>
                                    </div>
                                  </v-expand-transition>-->
                                </v-img>

                            </a>

                            <v-card-text class="pt-6" style="position: relative;">

                                <a href="{{ path('chapter_show', {'id': figure.id}) }}">

                                    <p class="excerpt-title mb-6">{{ figure.title }}</p>

                                </a>

                                <div class="font-weight-light grey--text body-2 mb-2">

                                    <p class="body-1 font-weight-light black--text mb-2" style="cursor: default;">{{ figure.content | striptags  | slice(0,100) | raw }}...</p>

                                    <p class="mt-4" style="color:grey;cursor: default;">Publié le {{ figure.createdAt | date('d/m/Y') }} &bull; Catégorie {{ figure.classification.title }} </p>

                                    <!-- Si un membre est connecté on affiche les boutons de modifications des posts en page d'accueil -->
                                    {% if app.user %}

                                    <a href="{{ path('blog_edit', {'id': figure.id}) }}">
                                    <p style="position:absolute; top:10px; right:10px; color:blueviolet;">
                                        <i class="fas fa-pen"></i>
                                    </p>
                                    </a>

                                    <a href="{{ path('delete_chapter', {'id': figure.id}) }}" onclick="return(confirm('Validez-vous ce choix ?'));">
                                    <p style="position:absolute; top:10px; right:40px; color:blueviolet;">
                                        <i class="far fa-trash-alt"></i>
                                    </p>
                                    </a>

                                    {% endif %}

                                </div>

                            </v-card-text>
                        </v-card>

                        <!--</v-hover>-->

                    </v-col>
                    {% endfor %}

                 

                </v-row>
            </v-container>

        </v-card>

    </v-layout>
</v-container>

{% endblock %}

{% block javascripts %}

{% endblock %}