{% extends 'base.html.twig' %}
{% block title %}Edition d'article{% endblock %}
{% block body %}

<!-- V-card Background-color -->
<v-card flat outlined style="z-index:-1;position:fixed;top:0;left:0;height:100%;width:100%;background-color:#85C1E9;"></v-card>
{#
{% if app.user.id is defined and app.user.id == '1' %}
#}
{% if app.user %}

<v-card flat outlined style="z-index:-1;position:fixed;top:0;left:0;height:100%;width:100%;border:none;">
    <v-img src="/backgrounds/background1.jpg" style="height:100%;width:100%;"></v-img>
</v-card>

<!-- MISE À JOUR D'UN ARTICLE -->
{{ form_start(updateFigure) }}
                          
<v-container mt-3 mb-n2>

    <v-row
    align="center"
    justify="center"
    >

        <v-col class="white--text text-center" cols="12">  

            <p class="post-title">{{ figure.title }}</p>

                {% if figure.image is not null %}

                    <v-img
                    :aspect-ratio="16/9"
                    src="{{ figure.image }}"
                    alt="{{ figure.title }}"
                    title="{{ figure.title }}"
                    >
                    </v-img>

                {% else %}

                    <v-img
                    :aspect-ratio="16/9"
                    src="/backgrounds/default_picture.jpg"
                    alt="Image par défaut"
                    title="Image par défaut"
                    >
                    </v-img>

                {% endif %}

        </v-col>

        <v-col cols="12" md="6" style="margin-top:-20px;">  

            {{ form_row(updateFigure.image, {'label': ' ', 'attr': {'placeholder': "Url de l'image"}}) }}

            {{ form_row(updateFigure.title, {'label': ' ', 'attr': {'placeholder': "TITRE DE L'ARTICLE"}}) }}
                    
        </v-col>

    </v-row>

</v-container>

<!-- BOUTONS POUR AFFICHER LES MÉDIAS EN VERSION SMARTHPONE -->
<v-container class="control-medias-container">

    <v-row
    align="center"
    justify="center"
    >

        <v-col class="text-center" cols="12" > 

            <v-btn
            class="control-medias"
            color="primary"
            dark
            style="font-weight:bold;"
            >
            ÉDITER LES MÉDIAS
            </v-btn>

            <v-btn
            class="control-medias-2"
            color="primary"
            dark
            style="font-weight:bold;"
            >
            FERMER L'ONGLET
            </v-btn>

        </v-col>

    </v-row>
    
</v-container>

<!-- CHAMP D'ÉDITION DES MÉDIAS DE L'ARTICLE -->
<v-container class="medias-grid" mt-10>

    <v-layout row wrap>

        <v-col cols="12">
    
            <v-row>

                {% for screen in figure.screens %}

                {% if not (screen.thumbnail starts with 'http') %}

                <!-- Modal Screen VIDEOS -->
                <!-- Voir tous les types de Modals Vuetify : https://vuetifyjs.com/en/components/dialogs/ -->
                <v-col
                cols="12"
                md="2"
                >
                    
                    <card>

                        <div>

                        {% if screen.thumbnail is not null %}

                           <v-img src="https://img.youtube.com/vi/{{ screen.thumbnail }}/hqdefault.jpg" class="flip-image-bis" alt="Illustration" title="Illustration"></v-img>

                        {% else %}

                            <v-img src="/backgrounds/default_picture_2.jpg" class="flip-image-bis" alt="Illustration" title="Illustration"></v-img>

                        {% endif %}

                        </div>

                        <div class="text-center">

                            <v-dialog
                            v-model="modal_update_{{ loop.index }}"
                            transition="dialog-bottom-transition"
                            width="600"
                            >   

                                <template v-slot:activator="{ on, attrs }">

                                    <v-btn
                                    style="margin-top:-40px;"
                                    fab
                                    depressed
                                    color="primary"
                                    dark
                                    small
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    <i class="fas fa-play"></i>
                                    </v-btn>

                                </template>

                                <v-card width="600" height="400">

                                    {% if screen.thumbnail is not null %}

                                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/{{ screen.thumbnail }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                    {% else %}

                                    <v-img src="/backgrounds/default_picture_2.jpg" class="flip-image-bis" alt="Illustration" title="Illustration"></v-img>

                                    {% endif %}

                                </v-card>

                            </v-dialog>

                        </div>
                      
                    </card>
                    
                </v-col>

                {% else %}

                <!-- Modal Screen IMAGES -->
                <v-col
                cols="12"
                md="2"
                >
                    
                    <card>

                        <div>

                            {% if screen.thumbnail is not null %}

                            <v-img src="{{ screen.thumbnail }}" class="flip-image-bis" alt="Illustration" title="Illustration"></v-img>

                            {% else %}

                            <v-img src="/backgrounds/default_picture_2.jpg" class="flip-image-bis" alt="Illustration" title="Illustration"></v-img>

                            {% endif %}

                        </div>

                        <div class="text-center">

                            <v-dialog
                            v-model="modal_update_{{ loop.index }}"
                            transition="dialog-bottom-transition"
                            width="600"
                            >   

                                <template v-slot:activator="{ on, attrs }">

                                    <v-btn
                                    style="margin-top:-40px;"
                                    fab
                                    depressed
                                    color="primary"
                                    dark
                                    small
                                    v-bind="attrs"
                                    v-on="on"
                                    >
                                    <i class="fas fa-plus"></i>
                                    </v-btn>

                                </template>

                                <v-card width="600" height="400">

                                    {% if screen.thumbnail is not null %}

                                    <v-img src="{{ screen.thumbnail }}" class="flip-image-bis" alt="Illustration" title="Illustration"></v-img>

                                    {% else %}

                                    <v-img src="/backgrounds/default_picture_2.jpg" class="flip-image-bis" alt="Illustration" title="Illustration"></v-img>

                                    {% endif %}

                                </v-card>

                            </v-dialog>

                        </div>
                      
                    </card>
                    
                </v-col>

                {% endif %}

                {% endfor %}
                
                {% for screen in updateFigure.screens %}
                <!-- Editions des Médias -->

                <v-col
                cols="12"
                md="2"
                >
                    
                    <card>

                        <div>

                           {{ form_row(screen.thumbnail, {'label': ' ', 'attr': {'class': "screen_class",'placeholder': "URL IMAGE OU VIDÉO YOUTUBE"}}) }}
                           
                        </div>

                    </card>
                    
                </v-col>

                {% endfor %}
           
            </v-row>

        </v-col>

    </v-layout>
    
</v-container>

<!-- EDITION DE L'ARTICLE -->
<v-container>

    <v-layout row wrap>

        <v-col cols="12">

            <v-card flat class="pa-5" style="background-color:rgba(255, 255, 255, 0.4);"> 

                <v-col 
                md="10"
                offset-md="1"
                >
                    {{ form_row(updateFigure.content, {'label': ' '}) }}

                </v-col>

                <v-col 
                md="4"
                offset-md="4"
                >

                {{ form_row(updateFigure.classification, {'label': ' '}) }}

                </v-col>

                <br />
                <br />

                <!-- BOUTON DE SUPPRESSION -->
                <a href="{{ path('delete_chapter', {'id': figure.id}) }}" onclick="return(confirm('Validez-vous ce choix ?'));">
                <p style="color:blueviolet;right:34px;position:absolute;margin-top:-20px;">
                    Supprimer&nbsp;&nbsp;<i class="far fa-trash-alt"></i>
                </p>
                </a>

                <br />

                <!-- BOUTON DE RESTAURATION DES URLS YOUTUBE PUIS VÉRIFICATIONS D'URL SCREENS -->
                <!--<a onclick="return(confirm('Validez-vous ce choix ?'));">-->
                <a>
                <p id="check_screen" style="color:blueviolet;right:34px;position:absolute;margin-top:0px;">
                    Confirmer&nbsp;&nbsp;<i class="fas fa-pen"></i>
                </p>
                </a>

                <!-- BOUTON POUR RECOMMENCER LES SAISIES -->
                <!--<a onclick="return(confirm('Validez-vous ce choix ?'));">-->
                <a>
                <p id="update_screen" style="color:blueviolet;right:34px;position:absolute;margin-top:-20px;">
                    Recommencer&nbsp;&nbsp;<i class="fas fa-redo"></i>
                </p>
                </a>

                <br />
                <br />

                <!-- BOUTON DE SAUVEGARDE -->
                <button id="save_post" type="submit" class="edit-post-button" style="background-color:teal !important;color:white !important;margin-top:10px;margin-left:10px;float:right;">
                    Sauvegarder
                </button>

                <br />
                <br />
                <br />
                <br />

                {{ form_end(updateFigure) }}

            </v-card>
   
        </v-col> 

    </v-layout>

</v-container>

{% else %}

<v-container>

    <v-layout row wrap>

        <v-col cols="12">

            <v-card class="white--text text-center pa-5" outlined color="rgba(255,255,255,0)"> 

                <p>Connexion nécessaire</p>

            </v-card>

        </v-col> 

    </v-layout>
    
</v-container>
    
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% endif %}

{% endblock %}

{% block javascripts %}

<script>

/*
$("#restore_screen").click(function () {

    var update_forms = $(".screen_class");

    for(var y = 0; y < update_forms.length; y++){

        videos_ids = $(update_forms[y]).val();

        // alert(videos_ids.length);

        if (videos_ids.length == 11) {

            $(update_forms[y]).val('https://www.youtube.com/watch?v=' + $(update_forms[y]).val());

            // On cache le bouton de restauration des Urls
            $("#restore_screen").hide();
        
        } 

    }

});
*/

$("#save_post").css('opacity', '0.2');

$("#update_screen").hide();

    //**** ÉTAPE PRÉLIMINAIRE : RESTAURATION DE L'URL YOUTUBE DES VIDÉOS EN CONCATÉNANT L'URL (https://www.youtube.com/watch?v=) À L'ID DÉJÀ ENREGISTRÉ EN BDD ****//

    var update_forms = $(".screen_class");

    for(var y = 0; y < update_forms.length; y++){

        videos_ids = $(update_forms[y]).val();

        // alert(videos_ids.length);

        if (videos_ids.length == 11) {

            $(update_forms[y]).val('https://www.youtube.com/watch?v=' + $(update_forms[y]).val());
        
        } 

    }

// Bouton pour recommencer le process de vérification des URLS
$("#update_screen").click(function () {

        // On remontre le bouton de vérification des URLS
        $("#check_screen").show();

        // On cache le bouton pour recommencer le process
        $("#update_screen").hide();

        // On retire la propriété readonly sur les inputs
        $('.screen_class').prop('readonly', false);
        $(".screen_class").css('opacity', '1');

        // On cache le bouton de sauvegarde de l'article
        $("#save_post").css('opacity', '0.2');

        
        // + Restauration de l'URL youtube
        var restore_forms = $(".screen_class");

        for(var y = 0; y < restore_forms.length; y++){

            videos_url = $(restore_forms[y]).val();

            // alert(videos_url.length);

            if (videos_url.length == 11) {

                $(restore_forms[y]).val('https://www.youtube.com/watch?v=' + $(restore_forms[y]).val());
            
            } 

        }
        

});

//**** BOUTON POUR LA RESTAURATION DE L'URL YOUTUBE, ENSUITE POUR VÉRIFIER SOIT LA VALIDITÉ DES URLS DES IMAGES SOIT LA VALIDITÉ DES URLS DES VIDÉOS, ET ENFIN POUR REMPLACER LES URLS ENTRÉES PAR L'UTILISATEUR EN IDS DE 11 CARACTÈRES (LE FORMAT DES IDS YOUTUBE) ****//
$("#check_screen").click(function () {

    //**** PARTIE 1 : VÉRIFICATION DE LA VALIDITÉ DES URLS ****//

    var inputs = $(".screen_class");

    var error = 0;

    // ITÉRATIONS DE VÉRIFICATIONS ET GÉNÉRATIONS D'ERREURS EN FONCTION DES CAS RENCONTRÉS
    for(var i = 0; i < inputs.length; i++){

         alert($(inputs[i]).val());
         alert($(inputs[i]).val().length);

        inputs_results = $(inputs[i]).val();

        // Formats identifiés des URL youtube
        // https://www.youtube.com/watch?v=NKHYEOAbFyM
        // https://www.youtube.com/watch?v=NKHYEOAbFyM&feature=youtu.be
        // https://www.youtube.com/watch?v=NKHYEOAbFyM&feature=emb_logo
        // https://youtu.be/NKHYEOAbFyM
        // https://www.youtube.com/embed/NKHYEOAbFyM

        if ($(inputs[i]).val().length == 43) {
            alert("Une Url contient bien 43 caractères")
        }

        if ($(inputs[i]).val().length == 60) {
            alert("Une Url contient bien 60 caractères")
        }

        if ($(inputs[i]).val().length == 28) {
            alert("Une Url contient bien 28 caractères")
        }

        if ($(inputs[i]).val().length == 41) {
            alert("Une Url contient bien 41 caractères")
        }

        // On vérifie que l'input contient bien l'url youtube et qu'elle soit pourvue de 43 caractères
        if (inputs_results.indexOf('https://www.youtube.com/watch?v=') > -1 && $(inputs[i]).val().length == 43 ) {
        //if (inputs_results.indexOf('https://www.youtube.com/watch?v=') > -1 ) {

            alert( "YOUTUBE URL VALIDE");
            error++;

        // On vérifie que l'input contient bien l'url youtube et qu'elle soit pourvue de 60 caractères (au cas où le param get " &feature=youtu.be " ou " &feature=emb_logo " est présent)
        } else if (inputs_results.indexOf('https://www.youtube.com/watch?v=') > -1 && $(inputs[i]).val().length == 60 ) {

            alert( "YOUTUBE URL VALIDE");
            error++;

        } else if (inputs_results.indexOf('https://youtu.be/') > -1 && $(inputs[i]).val().length == 28 ) {

            alert( "YOUTUBE URL VALIDE");
            error++;

        } else if (inputs_results.indexOf('https://www.youtube.com/embed/') > -1 && $(inputs[i]).val().length == 41 ) {

            alert( "YOUTUBE URL VALIDE");
            error++;

        } else if (inputs_results == '' ) {

            alert( "CHAMP VIDE AUTORISÉ");
            error++;

        } else {

            // alert( "YOUTUBE URL NOT VALID");

            // Une double erreur comptabilisée ici empêchera de passer à l'étape de sauvegarde de l'article
            error++;
            error++;

        }

        // ON VÉRIFIE LES EXTENSIONS POUR LES IMAGES
        var isUriImage = function(uri) {

            // On s'assure de supprimer tous les paramètres GET indésirables (comme par exemple dans cette URL : http://meow.com/kitten.png?somehorribleparameter=1)
            uri = uri.split('?')[0];

            // Ensuite vérification de l'extension de l'image
            var parts = uri.split('.');

            var extension = parts[parts.length-1];

            var imageTypes = ['jpg','jpeg','tiff','png','gif','bmp'];

            if(imageTypes.indexOf(extension) !== -1) {

                return true;   

            }

        }

        // ON GÉNÈRE DES ERREURS EN FONCTION DES CAS RENCONTRÉS
        var result = isUriImage(inputs_results);

        if (result) {

            // alert( "Image URL VALID");
            error++;

        } else {

            // alert( "Image URL NOT VALID");

            // Une double erreur comptabilisée ici empêchera de passer à l'étape de sauvegarde de l'article
            error++;
            error++;

        };

    }

    // BILAN -> S'il n'y a que 3 erreurs pour un seul formulaire, c'est qu'il contient soit une URL d'image valide, soit une URL de vidéo valide

    alert(error);

    // On divise le nombre d'erreurs comptabilisées par 3 ...
    var total = error / 3;

    // ... pour vérifier ensuite que le résultat de la division est équivalent au nombre d'input dédiés à l'édition des images ou des vidéos ...
    if(total == inputs.length) {
        // .. Et dans ce cas on autorise la publication de l'article !
        alert('OK POUR PUBLICATION');

        // On cache le bouton de vérification des URLS
        $("#check_screen").hide();

        // On montre le bouton pour recommencer le process
        $("#update_screen").show();

        // On passe les inputs en readonly
        $('.screen_class').prop('readonly', true);
        $(".screen_class").css('opacity', '0.2');

        // On montre le bouton d'ajout d'un article
        $("#save_post").css('opacity', '1');
        
    } else {

        alert('ERREURS : URLS INVALIDES DANS LES MÉDIAS. VÉRIFIEZ LA VALIDITÉ DES EXTENSIONS DES IMAGES ET/OU LA VALIDITÉ DES URLS DES VIDÉOS');

    }

    //**** PARTIE 2 : RÉCUPÉRATION DE L'ID DES VIDÉOS YOUTUBE ET REMPLACEMENT DE CHAMPS PAR L'ID ****/

    var forms = $(".screen_class");

    for(var z = 0; z < forms.length; z++){

        forms_results = $(forms[z]).val();

        if (forms_results.indexOf('https://www.youtube.com/watch?v=') > -1 || forms_results.indexOf('https://youtu.be/') > -1 || forms_results.indexOf('https://www.youtube.com/embed/') > -1) {

            // alert( "YOUTUBE URL VALID");

            // CHANGEMENT DES TEXTES DES INPUTS QUI CONTIENNENT UNE URL YOUTUBE POUR NE RÉCUPÉRER QUE L'ID DE LA VIDÉO

            // Formats identifiés puis retirés pour isoler l'identifiant de la vidéo :
            // https://youtu.be/
            // https://www.youtube.com/embed/
            // https://www.youtube.com/watch?v=

            var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;

            var match = forms_results.match(regExp);

            if (match && match[2].length == 11) {
                // alert(match[2]);

                // On ne garde que l'ID de la vidéo isolé du reste et on l'injecte en remplacement de l'URL rentrée au départ par l'internaute
                $(forms[z]).val(match[2]);
                
            }
            
        }  else {
            // alert( "YOUTUBE URL NOT VALID");
         }

    }
        


});



</script>

{% endblock %}