{% extends 'base.html.twig' %}
{% block title %}SNOWTRICKS • Édition{% endblock %}
{% block body %}

<v-card class="special-background" flat outlined></v-card>

{% if app.user %}

<v-card flat class="special-background" outlined>
    <v-img src="/backgrounds/background1.jpg" height="100%" width="100%"></v-img>
</v-card>

{{ form_start(updateFigure) }}
                          
<v-container mt-3 mb-n2>
    <v-row
    align="center"
    justify="center"
    >
        
        <v-col class="white--text text-center" cols="12">  
            <p class="post-title mb-8">{{ figure.title|upper|raw }}<span class="edit-post-mini-label">ÉDITION</span></p>

            <p class="update-chapter-btn-box">

                <span class="mini-background-2">

                    <a class="feature_arrow_btn">
                        <i class="interactive_btn fas fa-arrow-up"></i>
                    </a>

                    <a class="feature_pen_btn">
                        <i class="interactive_btn fas fa-pen"></i>
                    </a>

                    <a class="feature_trash_btn">
                        <i class="interactive_btn far fa-trash-alt"></i>
                    </a>

                </span>

            </p>

            <div class="update_feature_box">

                {{ form_row(updateFigure.image, {'label': ' ', 'attr': {'class': "update_featured_input", 'placeholder': "URL DE L'IMAGE", 'alt' : "IMAGE PRINCIPALE"}}) }}

            </div>   

                {% if figure.image is not null %}
                    <v-img
                    class="index-img"
                    :aspect-ratio="16/9"
                    src="{{ figure.image|raw }}"
                    alt="{{ figure.title|raw }}"
                    title="{{ figure.title|raw }}"
                    >
                    </v-img>
                {% else %}
                    <v-img
                    class="index-img"
                    :aspect-ratio="16/9"
                    src="/backgrounds/default_picture.jpg"
                    alt="Image par défaut"
                    title="Image par défaut"
                    >
                    </v-img>
                {% endif %}
        </v-col>
        <v-col class="update-col-title" cols="12" md="6">  
            {{ form_row(updateFigure.title, {'label': 'TITRE', 'attr': {'placeholder': "TITRE DE L'ARTICLE"}}) }}             
        </v-col>
    </v-row>
</v-container>

<v-container class="control-medias-container">
    <v-col class="text-center" cols="12" > 
        <v-btn
        class="control-medias font-weight-bold"
        color="primary"
        dark
        >
        ÉDITER LES MÉDIAS
        </v-btn>
        <v-btn
        class="control-medias-2 font-weight-bold"
        color="primary"
        dark
        >
        FERMER L'ONGLET
        </v-btn>
    </v-col>
</v-container>

<v-container class="medias-grid" mt-4>
    <v-layout row wrap>
        <v-col cols="12">
            <v-row>
               
                {% for screen in updateFigure.screens %}

                <v-col
                cols="12"
                md="2"
                class="flex_col_{{ loop.index0 }}"
                >          
                    <div class="update_media_{{ loop.index0 }}">

                            <v-img class="photo-step-regular default_picture_{{ loop.index0 }}" src="/backgrounds/default_picture_2.jpg" alt="Illustration" title="Illustration"></v-img>

                            <img class="photo-step-regular photo-img default_photo_{{ loop.index0 }}" src="/backgrounds/default_picture_2.jpg" alt="Illustration" title="Illustration" />

                            <img class="photo-step-errors" src="/backgrounds/default_screen_1.jpg" alt="Illustration" title="Illustration" />

                           {{ form_row(screen.thumbnail, {'label': ' ', 'attr': {'class': "screen_class",'placeholder': "URL IMAGE OU VIDÉO YOUTUBE", 'alt' : "Médias"}}) }}    
            
                    </div>  

                    <p class="text-center medias-multi-buttons">
                        <a class="change_input_btn_{{ loop.index0 }}">
                            <i class="interactive_btn fas fa-pen"></i>
                        </a>
                        
                        <a class="hidden_btn hide_input_btn_{{ loop.index0 }}">
                            <i class="interactive_btn fas fa-arrow-up"></i>
                        </a>
                        
                        <a class="trash_media_btn_{{ loop.index0 }}">
                            <i class="interactive_btn fas fa-trash"></i>
                        </a>
                        
                        <a class="hidden_btn restore_media_btn_{{ loop.index0 }}">
                            <i class="interactive_btn fas fa-plus"></i>
                        </a>
                    </p>

                </v-col>

                {% endfor %}

            </v-row>

            <p class="text-center">
                <a class="media_next_row_btn_1">
                    <i class="interactive_btn_2 fas fa-plus-circle"></i>
                </a>
                <a class="media_next_row_btn_2">
                    <i class="interactive_btn_2 fas fa-plus-circle"></i>
                </a>
                <a class="media_next_row_btn_3">
                    <i class="interactive_btn_2 fas fa-plus-circle"></i>
                </a>
            </p>

        </v-col>
    </v-layout>
</v-container>

<v-container>
    <v-layout row wrap>
        <v-col cols="12">
            <v-card flat class="pa-5" color="rgba(255, 255, 255, 0.4)"> 
                <v-col 
                md="10"
                offset-md="1"
                >
                {{ form_row(updateFigure.content, {'label': ' ', 'attr': {'alt' : "Contenu"}}) }}
                </v-col>
                <v-col 
                md="4"
                offset-md="4"
                >
                {{ form_row(updateFigure.classification, {'label': 'CATÉGORIE','label_attr': {'class': 'special-label'}}) }}
                </v-col>
                <div class="medium-spacer"></div>
                <a href="{{ path('delete_chapter', {'id': figure.id}) }}" onclick="return(confirm('Validez-vous ce choix ?'));">
                <p class="special-trash-button">
                    Supprimer&nbsp;&nbsp;<i class="far fa-trash-alt"></i>
                </p>
                </a>
                <div class="medium-spacer"></div>
                <a>
                <p class="special-button update-confirm-btn" id="check_screen">
                    Confirmer&nbsp;&nbsp;<i class="fas fa-pen"></i>
                </p>
                </a>
                <div class="regular-spacer"></div>   
                <a>
                <p class="special-button update-redo-btn" id="update_screen">
                    Recommencer&nbsp;&nbsp;<i class="fas fa-redo"></i>
                </p>
                </a>
                <div class="regular-spacer"></div>
                <button id="save_post" type="submit" class="edit-post-button update-post-btn">
                    Sauvegarder
                </button>
                <div class="medium-spacer"></div>
                <div class="medium-spacer"></div>

                {{ form_end(updateFigure) }}

            </v-card>
        </v-col> 
    </v-layout>
</v-container>

<a class="fake_btn">
    <i class="interactive_btn fas fa-arrow-up"></i>
</a>

{% else %}

<v-container>
    <v-layout row wrap>
        <v-col cols="12">
            <v-card class="white--text text-center pa-5" outlined color="rgba(255,255,255,0)"> 
                <p class="font-weight-bold">CONNEXION NÉCESSAIRE</p>
            </v-card>
        </v-col> 
    </v-layout>
</v-container>
    
<div class="big-spacer"></div>
<div class="big-spacer"></div>

{% endif %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/tinyMce/tinymce.min.js') }}"></script>
<script src="{{ asset('js/tinyMce/tinyInit.js') }}"></script>
<script src="{{ asset('js/tinyMce/langs/fr_FR.js') }}"></script>
<script src="{{ asset('js/events/media.js') }}"></script>
<script src="{{ asset('js/events/update.js') }}"></script>
{% endblock %}
