<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{% block title %}SNOW TRICKS{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="SNOW TRICKS">

    <meta content='width=device-width, initial-scale=1.0' name='viewport' />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/backgrounds/faviconSnowTricks.png" />

    {#
    {% if app.request.get('_route') == 'leafletMap' %}
        {% endif %}
    #}
    
    {% block stylesheets %}

    <link rel="stylesheet" href="/css/vuetify.min.css" />
    <!--<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">-->

    <!-- https://materialdesignicons.com/ Utiliser le préfixe "mdi-" pour ajouter ces icons -->

    <!-- Pourquoi ce lien vers mon folder /css n'active pas les icons ?? -->
    <!--<link rel="stylesheet" href="/css/materialdesignicons.min.css" />-->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <!--Fontawesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!--<link href="vendor/components/font-awesome/css/all.css" rel="stylesheet" type="text/css">-->

    <!-- Polices du site -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />

    <!--<style>
        
    </style>-->

    {% endblock %}

</head>

<body>
    {# Autre manière de faire un include ? 

    {% include 'inc/navbar.html.twig' %}

    #}

    {{ include('inc/spinner.html.twig') }}
    {{ include('inc/navbar.html.twig') }}
    {{ include('inc/searchBar.html.twig') }}
    {{ include('inc/logPopUp.html.twig') }}

    {# read and display all flash messages #} 
    {# https://symfony.com/doc/current/controller.html#flash-messages  #} 
    {#
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    #} 

    {% for message in app.flashes('notice') %}
    <v-container>
        <v-row>
            <v-col md="4" offset-md="4" sm="6" offset-sm="3">
                <v-alert
                style="background-color:white !important;"
                color="green"
                dense
                elevation="2"
                outlined
                type="success"
                >
                {{ message }}
                </v-alert>
            </v-col>
        </v-row>
    </v-container>
    {% endfor %}

    {% for message in app.flashes('warning') %}
    <v-container>
        <v-row>
            <v-col md="4" offset-md="4" sm="6" offset-sm="3">
                <v-alert
                style="background-color:white !important;"
                color="red"
                dense
                elevation="2"
                outlined
                type="warning"
                >
                {{ message }}
                </v-alert>
            </v-col>
        </v-row>
    </v-container>
    {% endfor %}

    {% block body %}

    {% endblock %}

    {{ include('inc/footer.html.twig') }}


    <!-- jQuery 3.4.1 -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="/js/jquery.min.js"></script>

    <!-- Vue.JS -->

    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>-->
    
    <!--Chargement de vue.min.js depuis le dossier public JS - éviter les CDN pour éviter les effets de Loading trop importants sur le site -->
    <script src="/js/vue.min.js"></script>

    <!-- Vuetify -->

    <!-- cf. https://vuetifyjs.com/en/getting-started/quick-start#cdn-usage -> Guide d'intrégration de Vue.js dans une application Symfony : https://blog.elao.com/fr/dev/comment-integrer-vue-js-application-symfony/ -->

    <!--<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>-->
    
    <!--Chargement de vuetify.js depuis le dossier public JS - éviter les CDN afin d'éviter les effets de Loading trop importants sur le site -->
    <script src="/js/vuetify.js"></script>

    <!-- Vue & Vuetify APP -->
    <script src="/js/app.js"></script>

    <!-- jQuery Events -->
    <script src="/js/event.js"></script>

    

    

    {% block javascripts %}
    {# <script src="{{ asset('vendor/tinymce/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('vendor/tinymce/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('/js/tinyInit.js') }}"></script>
    <script src="{{ asset('/js/langs/fr_FR.js') }}"></script> #}
    {% endblock %}

</body>

</html>
