<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}SNOW TRICKS{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SNOW TRICKS">
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />

    {% block stylesheets %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>

    {{ include('inc/spinner.html.twig') }}
    {{ include('inc/navbar.html.twig') }}
    {{ include('inc/searchBar.html.twig') }}
    {{ include('inc/logPopUp.html.twig') }}
    {{ include('inc/profileBtn.html.twig') }}

    {% for message in app.flashes('notice') %}
        <v-container class="success-flashes">
            <v-row>
                <v-col md="4" offset-md="4" sm="6" offset-sm="3">
                    <v-alert
                    class="white"
                    color="green"
                    dense
                    elevation="2"
                    outlined
                    type="success"
                    >
                    {{ message }}
                    </v-alert>
                </v-col>
            </v-row>
        </v-container>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <v-container class="warning-flashes">
            <v-row>
                <v-col md="4" offset-md="4" sm="6" offset-sm="3">
                    <v-alert
                    class="white"
                    color="red"
                    dense
                    elevation="2"
                    outlined
                    type="warning"
                    >
                    {{ message }}
                    </v-alert>
                </v-col>
            </v-row>
        </v-container>
    {% endfor %}

    {% block body %}
    {% endblock %}

    {{ include('inc/footer.html.twig') }}

    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/vue/vue.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="{{ asset('js/vue/app.js') }}"></script>
    <script src="{{ asset('js/events/event.js') }}"></script>

    {% block javascripts %}
    {% endblock %}

</body>

</html>
