<div id="appJEND">
    <v-app id="inspire">

        

        <v-app-bar fixed color="blue darken-1">

            <v-btn fab color="transparent" class="white--text" @click.stop="drawer = !drawer" elevation="0">
                <v-icon>fas fa-bars</v-icon>

            </v-btn>

            <i class="fi-xnsuxl-network-solid"></i>

            <v-toolbar-title>

                <v-btn rounded large elevation="0" id="the-logo" color="blue darken-1" href="{{ path('blog') }}" style="z-index:11;">SNOWTRICKS

                    <!-- Voir les formes UNICODES : https://www.w3schools.com/charsets/ref_utf_geometric.asp -->
                    <!--<span class="logo-unicodes" style="z-index:10;font-size:17px;margin-left:-14px;margin-top:20px;color:#FF5757;transform: rotate(42deg);">&#9668;</span>

                    <span class="logo-unicodes" style="font-size:32px;margin-left:-7px;margin-top:18px;color:blueviolet;transform: rotate(100deg);">&#9670;</span>

                    <span class="logo-unicodes" style="font-size:18px;margin-left:-11px;margin-top:12px;color:yellow;transform: rotate(110deg);">&#9679;</span>

                    <span class="logo-unicodes" style="font-size:15px;margin-left:-2px;margin-top:20px;color:orange;transform: rotate(110deg);">&#9632;</span>-->

                </v-btn>

            </v-toolbar-title>

            <div class="flex-grow-1"></div>

            <v-toolbar-items>

            </v-toolbar-items>

        </v-app-bar>

        <!-- Vuetify sidebar Menu -->

        <v-navigation-drawer v-model="drawer" app temporary style="z-index:12;">

            <v-list dense nav>
                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('blog') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-home</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">ACCUEIL</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                {% if not app.user %}

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('security_registration') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-user</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">INSCRIPTION</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('security_connexion') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-sign-in-alt</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">CONNEXION</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                {% else %}

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('blog_create') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:15px;text-indent:10px" color="#34495E">fas fa-pencil-alt</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">NOUVEAU TRICK</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('security_disconnect') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-sign-out-alt</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">SE DÉCONNECTER</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                {% endif %}

             
            </v-list>

        </v-navigation-drawer>

        <br />
        <br />
        <br />

        <div>

        </div>
