<div id="appJEND">
    <v-app id="inspire">

        <a href="{{ path('blog') }}"><img class="deco-logo" src="/backgrounds/Snow-Logo-V1.png" alt="SNOWTRICKS" title="SNOWTRICKS"/></a>

        <v-app-bar fixed color="blue darken-1" class="navbar">

            <v-btn fab color="transparent" class="white--text" @click.stop="drawer = !drawer" elevation="0">
                <v-icon>fas fa-bars</v-icon>

            </v-btn>

            <i class="fi-xnsuxl-network-solid"></i>

            <v-toolbar-title>

                <v-btn rounded large elevation="0" id="the-logo" color="blue darken-1" href="{{ path('blog') }}" style="z-index:11;">SNOWTRICKS

                </v-btn>

            </v-toolbar-title>

            <div class="flex-grow-1"></div>

            <v-toolbar-items>

            </v-toolbar-items>

        </v-app-bar>

        <v-navigation-drawer v-model="drawer" app temporary style="z-index:12;">

            {% if app.user %}

                <div class="regular-spacer"></div>

                <img style="display:block; margin-left:auto; margin-right:auto;" src="{{ asset('uploads/avatars/' ~ '/' ~ current_member.avatar) }}">

                <div class="regular-spacer"></div>

            {% endif %}

            <v-list dense nav>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('blog') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-home</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">ACCUEIL</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                {% if app.user.id is defined and app.user.id == 1 %}

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('admin_backoff') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-desktop</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">BACK OFFICE</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('admin_backcom') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:15px;text-indent:10px" color="#34495E">far fa-comments</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">COMMENTAIRES</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                {% endif %}

                {% if not app.user %}

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('security_registration') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-user</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">INSCRIPTION</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('security_connexion') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-sign-in-alt</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">CONNEXION</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('reset_password') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-unlock-alt</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">NEW PASSWORD</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                {% else %}

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('blog_create') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:15px;text-indent:10px" color="#34495E">fas fa-pencil-alt</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">NOUVEAU TRICK</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('new_password') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-key</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">MOT DE PASSE</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-ripple="{ class: `white--text` }" link href="{{ path('security_disconnect') }}">
                    <v-list-item-icon>
                        <v-icon style="font-size:17px;text-indent:10px" color="#34495E">fas fa-sign-out-alt</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title style="font-size:15px;">SE DÉCONNECTER</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                {% endif %}

            </v-list>

        </v-navigation-drawer>

        <div class="medium-spacer"></div>
        <div class="regular-spacer"></div>
        <div class="regular-spacer"></div>
        